{% extends "layout.html" %}

{% block head %}
{% endblock %}



{% block body %}
      <h1 class="mt-4 display-4 mb-2">About</h1>
      <p class="lead mb-5">StyleTune provides neural style transfer services for web platform.</p>
      <p class="lead mb-5">On <a href="/information">information tab</a>, there's reference about neural style transfer used in this service.</p>
      <p class="lead mb-5">On <a href="/transfer">transfer tab</a>, you can transfer your own image with serveral presets.</p>
{% endblock %}
