{% extends "layout.html" %}

{% block head %}
<style>
      li{
            list-style:none;
      }
</style>
{% endblock %}



{% block body %}
      <h1 class="mt-4 display-4 mb-2">Transfer - Style</h1>
      <p class="lead mb-5">Choose the style to transfer</p>
      <ul>
		<li><a href = '/transfer/style/gogh'><img src="/static/style_preset/gogh.jpg" alt="gogh" width = "300" height = "300" class="img-thumbnail"></a></li>
		<li><a href = "/transfer/style/monet"><img src="/static/style_preset/monet.jpg" alt="monet" width = "300" height = "300" class="img-thumbnail"></a></li>
		<li><a href = "/transfer/style/picasso"><img src="/static/style_preset/picasso.jpg" alt="picasso" width = "300" height = "300" class="img-thumbnail"></a></li>
	</ul>
    
{% endblock %}
