{% extends "layout.html" %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock %}



{% block body %}
        <h1 class="mt-4 display-4 mb-2">Transfer - Content</h1>
        <p class="lead mb-5">Upload your image to transfer</p>
        <form action = "/transfer/style" method = "POST" enctype = "multipart/form-data">
                <div class = "custom-file mb-3">
                        <input type = "file" id = "uploadImage" class="custom-file-input"  name = "file" accept='image/*' capture='camera'/>
                        <label class="custom-file-label">Choose image</label>
                </div>
                <div id="preview">
                        <img id="imagePreview" src="">
                </div>      
        
                <div style="text-align:center;">
                <button type = "submit" class="btn btn-info">Upload</button>
                </div>
        </form>
        <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
        </script>
{% endblock %}
